*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --main-color: #20222a;
  --yellow: #f4c038;
  --red: #ed422b;
  --green: #3cbf27;
  --blue: #2da0e0;
  --orange: #f47523;
  --grey: rgba(255, 255, 255, 0.5);
}

html {
  font-size: 16px;
  /* 1rem = 16px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 20px;
}

body {
  margin: 0;
  /* font style */
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

/* * Page */
.page {
  /* size */
  width: 100%;
  min-height: 100vh;
  /* background */
  background: var(--main-color);
}

/* * Container */
.container {
  width: 100%;
  max-width: 1000px;
  min-width: 350px;
  margin: 0px auto;
  padding: 10px 10px;
}

.flex-container {
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

/* * Form */
.form {
  /* size */
  /* form: 800px */
  width: 80%;
  padding: 30px 50px;
  /* height: 400px; */
  /* height: 50vh; */
  /* border */
  border: 1px solid var(--yellow);
  border-radius: 48px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

/* form-title */
.form-title {
  /* font-style */
  font-size: 2rem;
  font-weight: 500;
  color: white;
  /* position */
  margin-bottom: 20px;
}

/* form-input */
.form-input {
  /* main style */
  /* width: 392px; */
  width: 49%;
  height: 48px;
  display: block;
  /* margin: 10px 0; */
  /* test */
  margin: 10px auto;
  margin: 10px 0;
  padding: 16px 24px;
  background-color: var(--main-color);
  /* border style */
  border: 1px solid #3d4554;
  border-radius: 24px;
  /* font style */
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

/* form-input focus style */
.form-input:focus {
  outline: 1px solid var(--yellow);
  border: none;
}

/* ! fix-bug with autocomplete background */
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #20222a inset !important;
  box-shadow: 0 0 0 30px #20222a inset;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
  caret-color: rgba(255, 255, 255, 0.5);
}

/* btn */
.btn {
  /* size style */
  width: 49%;
  height: 48px;
  margin-top: 10px;

  /* border & bg style */
  background: var(--yellow);
  outline: 1px solid var(--yellow);
  border-radius: 48px;
  border: none;

  /* font style  */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;

  /* transition */
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in;
}

/* * Navigation Buttons */
.nav-btn-container {
  /* size */
  width: 80%;
  min-height: 10vh;
  padding: 20px 30px;
  margin-top: 10px;
  /* position */
  position: relative;
  /* flex */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-flow: row wrap;
}

.nav-btn {
  width: 200px;
  height: 40px;

  /* border & bg style */
  border-radius: 48px;
  border: none;

  /* font style  */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #e0e0e0;

  /* transition */
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in;
}

.nav-btn:first-child {
  position: relative;
  margin-right: auto;
  background-color: var(--blue);
  outline: 1px solid var(--blue);
}

.nav-btn:last-child {
  position: relative;
  margin-left: auto;
  background-color: var(--orange);
  outline: 1px solid var(--orange);
}

/* * Tasks-list-section */
.tasks-section {
  /* size */
  width: 80%;
  min-height: 20vh;
  margin-bottom: 40px;
  padding: 20px 30px;
  /* border */
  border: 1px solid var(--yellow);
  border-radius: 48px;

  /* font style */
  color: white;

  /* flex */
  order: 1;
}

.completed {
  border: 1px solid var(--green);
  /* text-decoration: line-through; */
  opacity: 0.7;
  transition: all 0.2s ease-in;
}

.completed > span,
.completed > p {
  text-decoration: line-through;
}

/* tasks section span */
.tasks-section-span {
  font-size: 1.5rem;
  margin-bottom: 5px;
  display: block;
}

/* tasks section p */
.tasks-section-p {
  text-align: justify;
}

/* tasks section button */
.tasks-section-btn {
  width: 97px;
  height: 40px;

  /* border & bg style */
  background: var(--red);
  outline: 1px solid var(--red);
  border-radius: 48px;
  border: none;

  /* font style  */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #e0e0e0;

  /* transition */
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in;
}

.tasks-section-complete-btn {
  width: 97px;
  height: 40px;

  /* border & bg style */
  background: var(--green);
  outline: 1px solid var(--green);
  border-radius: 48px;
  border: none;

  /* font style  */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #e0e0e0;

  /* transition */
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in;
}

.tasks-section-btn,
.tasks-section-complete-btn {
  margin-right: 10px;
}

.tasks-section-restore-btn {
  width: 97px;
  height: 40px;
  display: none;

  /* border & bg style */
  background-color: var(--grey);
  outline: 1px solid var(--grey);
  border-radius: 48px;
  border: none;

  /* font style  */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #e0e0e0;

  /* transition */
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in;
}

/* ! Media */

/* breakpoints
  600px
  500px
*/

/* ! media request to height */
@media (max-height: 700px) {
  .tasks-section {
    height: auto;
  }
}

@media (min-width: 1000px) {
  /* * btn hover style */
  .btn:hover {
    background: var(--main-color);
    color: white;
    /* transition */
    transition-property: background, color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in;
  }

  /* * completed task section */
  .completed:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
  }

  /* * buttons hover style */
  .tasks-section-btn:hover,
  .tasks-section-complete-btn:hover,
  .tasks-section-restore-btn:hover,
  .nav-btn:hover {
    background: var(--main-color);
    /* transition */
    transition-property: background;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in;
  }
}

@media (max-width: 600px) {
  /* * form and form elements */
  .form-input,
  .btn {
    width: 60%;
  }

  .form-input {
    text-align: justify;
  }

  /* * nav container */
  .nav-btn {
    margin: 10px auto;
  }

  .nav-btn-container {
    margin-top: 20px;
    flex-direction: column;
  }

  /* * tsak section */
  .tasks-section {
    padding: 15px 30px;
  }

  .tasks-section-p {
    margin: 15px 10px;
  }
}

@media (max-width: 500px) {
  /* * page */
  .page {
    padding-top: 100px;
    height: auto;
  }

  /* * fomr */
  .form {
    min-height: 35vh;
    padding: 20px 0;
  }

  .form-title {
    font-size: 1.5rem;
  }

  /* * task section */
  .tasks-section {
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  .tasks-section-complete-btn {
    order: 4;
    margin-top: 10px;
  }

  .tasks-section-btn,
  .tasks-section-complete-btn {
    margin-right: 0;
  }

  .tasks-section-btn {
    order: 3;
  }

  .tasks-section-restore-btn {
    order: 5;
    margin-top: 10px;
  }

  .tasks-section-p {
    text-align: center;
    order: 2;
  }
}
